<a href="https://colab.research.google.com/github/Janhavibhujbal/Python/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
A=["Janhavi Bhujbal","Age=21"]
B=["SP College","Class= TYBSC"]
tuple(A)

('Janhavi Bhujbal', 'Age=21')

In [17]:
tuple(B)

('SP College', 'Class= TYBSC')

In [19]:
A=("Janhavi Bhujbal","Age=21","Female","Student")
B=("College=SP College","Class= TYBSC","Roll no=9139")
print(A,B)

print(A[:3])
print(A[2:])
print(A[3])
print(A[:2])
print(A[1:2])
print(B,"\n")

('Janhavi Bhujbal', 'Age=21', 'Female', 'Student') ('College=SP College', 'Class= TYBSC', 'Roll no=9139')
('Janhavi Bhujbal', 'Age=21', 'Female')
('Female', 'Student')
Student
('Janhavi Bhujbal', 'Age=21')
('Age=21',)
('College=SP College', 'Class= TYBSC', 'Roll no=9139')

In [20]:
for j in A:
    print(j)

if "Class=TYBSc" in b:
    print("Janhavi is in TYBSc")

C=tuple("Pune")
A+B+C

Janhavi Bhujbal
Age=21
Female
Student

('Janhavi Bhujbal',
 'Age=21',
 'Female',
 'Student',
 'College=SP College',
 'Class= TYBSC',
 'Roll no=9139',
 'P',
 'u',
 'n',
 'e')

In [22]:
a = ["A","B","C"]
print(type(a))
print(a)
print("\n")
b = ("A","B","C")
print(type(b))
print(b)

a[0]="Z"
print(a)
b[0]="Z"
print(b)
"""from below error we can conclude that We can replace items in list but can't replace in tuple"""

<class 'list'>
['A', 'B', 'C']


<class 'tuple'>
('A', 'B', 'C')
['Z', 'B', 'C']

TypeError: ignored