<a href="https://colab.research.google.com/github/Janhavibhujbal/Python/blob/main/Assignment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A=["Janhavi Bhujbal","Age=21"]
B=["SP College","Class= TYBSC"]
print(A,B)
print(A[0:1])

['Janhavi Bhujbal', 'Age=21'] ['SP College', 'Class= TYBSC']
['Janhavi Bhujbal']

In [ ]:
A=("Janhavi Bhujbal"),("Age=21")
B=("College=SP College"),("Class= TYBSC")
print(A,B)

('Janhavi Bhujbal', 'Age=21') ('College=SP College', 'Class= TYBSC')
('Age=21',)

In [ ]:
a = ["A","B","C"]
print(type(a))
print(a)
print("\n")
b = ("A","B","C")
print(type(b))
print(b)

a[0]="Z"
print(a)
b[0]="Z"
print(b)

<class 'list'>
['A', 'B', 'C']


<class 'tuple'>
('A', 'B', 'C')
['Z', 'B', 'C']

TypeError: ignored

In [1]:
""" We can replace items in list but can't replace in tuple"""

" We can replace items in list but can't replace in tuple"