<a href="https://colab.research.google.com/github/Janhavibhujbal/Python1/blob/main/Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Name="Janhavi"
Surname="Bhujbal"
print(Name+" "+Surname)

Janhavi Bhujbal

In [ ]:
a=2.3
b=312
c=3j
x=int(a)
print(x)
y=float(b)
print(y)
z=complex(c)
print(z)
p=complex(a)
print(p)
q=complex(b)
print(q)

2
312.0
3j
(2.3+0j)
(312+0j)

In [ ]:
name="janhavi"
age=20
Class="TYBsc"
College="SP"
myorder="My name is {a} and I'm {b} years old, I study {c} in {d} college"

print(myorder.format(a=name,b=age,c=Class,d=College))

My name is janhavi and I'm 20 years old, I study TYBsc in SP college

In [ ]:
Quantity=30
Fruit="apple"
Price=300
Name="Janhavi"
ppp="I {d} want {a} {b} for {c} rupees. "
print(ppp.format(a=Quantity,b=Fruit,c=Price,d=Name))

I Janhavi want 30 apple for 300 rupees.